@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root {
  --color-white: #FFFFFF;
  --color-orange: #F7B180;
  --color-green: #18471B;
  --color-black: #000000;
}

html, body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  font-family: 'Montserrat', sans-serif;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  padding-right: 25px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav ul a {
  text-decoration: none;
  padding-right: 25px;
  color: var(--color-green);
}

nav ul button {
  padding: 7px;
  margin-left: 5px;
}

nav .contact-btn {
  background-color: var(--color-white);
  border: 1px solid var(--color-green);
  border-radius: 5px;
  color: var(--color-green);
}

nav .book-btn {
  background-color: var(--color-green);
  border: 1px solid var(--color-green);
  border-radius: 5px;
  color: var(--color-white);
}


/**
* ! Start Of Main 
**/

main .background {
  z-index: -1;
}

main .content {
  position: absolute;
  top: 50%;
  left: 25%;
  right: 25%;
  text-align: center;
}

main .content h1 {
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  font-weight: 100;
  text-shadow: 1px 1px 5px black;
  color: var(--color-orange);
}

main .content button {
  background-color: var(--color-green);
  border: none;
  border-radius: 5px;
  color: var(--color-white);
  padding: 10px;
}

/**
* ! Start of Article
**/

main article {
  padding: 15px 50px;
  margin-bottom: 75px;
}

main article h1 {
  font-weight: 200;
  font-size: 2rem;
}

main article button {
  padding: 7px;
  background-color: var(--color-white);
  border: 1px solid var(--color-green);
  border-radius: 5px;
  color: var(--color-green);
}

.awards{
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: space-around;
}


.featured {
  display:flex;
  align-items:center;
  background-color:#F7B180;
  padding: 80px
}

.featured img {
  max-width: 60%;
}

.featured-text {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.cardHeader h2 {
  text-align: left;
  font-family: 'Montserrat';
  font-size: 48px;
  margin-top: 180px;
  margin-left:80px;
}

.cardHeader p {
  text-align: left;
  font-family: 'Montserrat';
  font-size:36px;
  margin-left: 80px;
}

.cardSection {
  text-align: center;
}

.allCards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.cards {
  margin:60px;
  width:25%;
  border: 1px solid grey;
}

.cards img {
  width: 100%;
  height: 50%;
}

.booking {
  display:flex;
  background-color:#F7B180;
  align-items: center;
  justify-content: space-around;
}

.booking h1 {
  font-family: 'Sacramento', cursive;
  font-size: 80px;
}

.book {
  background-color: #18471B;
  border-radius: 6px;
  font-family: 'Montserrat';
  color:white;
  width: 192px;
  height: 52px;
}

.contact {
  border-radius: 6px;
  font-family: 'Montserrat';
  width: 192px;
  height: 52px;
  color: #18471B;
}



.footer {
  height: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.footer img {
  width:40px;
}